<div class="container full-height">
    <div class="row">
      <div class="col-sm-12 text-center login-container sign-up-in-area">
        <form [formGroup]='loginForm' (ngSubmit)="loginUser()"> 
            <h4>{{strTitle}}</h4>
            <p>{{strHeading}}</p>
            <div class="floating-label border-1" [class.border-danger]="email().touched && email().invalid">
                <div class="icon-field">
                    <i class="material-icons md-24">email</i>
                </div>
                <span class="input-field">
                    <input formControlName='email' placeholder="Email Address" type="text">
                    <label for="email">Email Address</label>        
                </span> 
                <div class="icon-validate-field" [class.error-visible]="email().touched && email().invalid">
                    <i *ngIf="email().touched && email().invalid" class="material-icons md-18 error">error_outline</i>
                </div>
                <span class="error-msg">Please enter a valid email</span>
            </div>
            <div class="floating-label border-1" [class.border-danger]="password().touched && password().invalid">
                <div class="icon-field">
                    <i class="material-icons md-24">lock</i>
                </div>
                <span class="input-field">
                    <input formControlName='password' placeholder="Password" type="password">
                    <label for="password">Password</label>
                </span>
                <div class="icon-validate-field" [class.error-visible]="password().touched && password().invalid">
                    <i *ngIf="password().touched && password().invalid" class="material-icons md-18 error">error_outline</i>
                </div>
                <span class="error-msg">Password should contain atleast 6 character</span>
            </div>
            <div class="remember-me-con">
                <span class="left">
                    <input formControlName='rememberMe' type="checkbox" id="rememberMe" >
                    <label for="rememberMe">Remember Me</label>
                </span>
                <span class="right">
                    <a [routerLink]="['/forgetpassword']">Forget Password?</a>
                </span>
            </div>
            <div class="mt-3">
                <button [disabled]='loginForm.invalid' type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
            <div class="mt-1">
                <span>Don’t have an account? <a [routerLink]="['/signup']">Sign up</a></span>
            </div>
    </div>
    </div>
</div>