.questions-container {
    border-left: 1px solid rgb(214, 217, 220);
    border-right: 1px solid rgb(214, 217, 220);
    padding: 0;

    .text-container {
        padding: 0 20px;
        margin-top: 4rem;
    }

    .question-list-container {
        border-top: 1px solid rgb(214, 217, 220);
        color: rgb(132, 141, 149);
        margin-bottom: 6rem;
    }

    .more-info {
        color: #000;
    }
}